:root {
  --branco-principal: #ffffff;
  --background: #00030c;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --font-principal: 'inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-principal);
  font-size: 16px;
  background-color: var(--background);
  color: var(--branco-principal);
}

/*babackground-repeat: no-repeat fará com que imagem não repita, obvio
background-size: contain pega todo o container e preenche ele.
*/
.principal {
  background-image: url(./imgs/ms.jpg);
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}

/* a medida vh significa que irá ocupar todo o espaço da tela */
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__inicial {
  color: var(--background);
  margin: 0 6em;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__logo {
  opacity: 80%;
  width: 350px;
  margin: 1em 0 2em 0;
  border-radius: 10px;
}

.container__bottom {
  text-decoration: none;
  color: var(--background);
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  display: block;
  font-weight: 400;
  margin-bottom: 1rem;
}

.bottom_secundario {
  background-color: transparent;
  border: 2.3px solid var(--branco-principal);
}

.bottom_info {
  color: var(--background);
}

.container__info {
  font-weight: 400;
  font-size: 12px;
}

.container__bottom:hover {
  background-color: #0a4fa3;
  transition: 1s;
}

.bottom_secundario:hover {
  border: 2.3px solid var(--botao-azul);
  background-color: var(--botao-azul);
  transition: 2s;
}

.secundario {
  align-items: center;
  margin: 0 10em;
  text-align: right;
}

.secundario__img {
  width: 100%;
}

.secundario__titulo {
  font-size: 48px;
  font-weight: 700;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.secundario__info {
  font-weight: 400;
  color: var(--cinza-secundario);
}

.container__secundario {
  padding: 1em;
}

.img_dow {
  margin-left: 2em;
  border-radius: 7px;
}

.dow {
  text-align: left;
}

.dispositivos {
  margin-top: 7em;
  text-align: center;
}

.dispositivos__title {
  font-size: 48px;
  color: var(--branco-principal);
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.rodape {
  text-align: center;
  margin: 5em 7em;
}

.rodape__logo {
  width: 20%;
  margin: 9em 0 3em;
  border-radius: 1em;
  opacity: 80%;
}

.rodape__list {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  list-style-type: none;
}

.item_list a {
  margin-right: 1em;
  color: var(--branco-principal);
  text-decoration: none;
}

.rodape__texto {
  margin-bottom: 1em;
  color: var(--cinza-secundario);
}

/*Pseudo classe ::hover*/
.item_list a:hover {
  color: var(--botao-azul);
}